/* CSS Document */
body{ padding:0px; margin:0px; background:url(../images/border.gif) repeat-x;}
.content{ text-align:center; margin:0 auto;}
.banner{ text-align:center; margin:0 auto;width: 1880px; height:460px; background:url(../images/banner1.jpg);}
.top{ width:1335px; height:68px; background:url(../images/top.jpg) no-repeat;text-align:center; margin:0 auto;}
.top ul{ padding:0px; margin:0px; list-style-type:none; text-align:left; padding-left:180px; padding-top:12px;}
.top ul li{ float:left;}
.top ul li a{ text-decoration:none; color:#FFF; font-family:"微软雅黑"; font-size:22px; padding:13px 20px; position:relative; top:11px;}
.top ul li a:hover{ background:#900; color:#CCC;}
.cont_ti{ position:relative; width:1117px; left:50%; margin-left:-553px; background:#FFF; overflow:hidden;}
.title1{ width:1117px; height:44px; background:url(../images/title_bg.jpg) no-repeat; margin-top:10px;}
.title_d{ font-family:"微软雅黑"; font-size:20px; color:#FFF; position:relative; left:60px; top:8px;}
.title_n{ font-family:"微软雅黑"; font-size:20px; color:#FFF; position:relative; left:375px; top:8px;}
.title_y{ font-family:"微软雅黑"; font-size:20px; color:#FFF; position:relative; left:725px; top:8px;}
.news{ width:600px; float:left; width:420px; padding-left:15px;}
.news ul{ padding:0px; margin:0px; list-style-type:none; font-family:"微软雅黑";}
.news ul li { font-size:14px; line-height:26px; padding-top:5px;}
.demo{ width:1117px; height:223px; background:url(../images/ds.gif) no-repeat; clear:both; display:block; margin-top:5px;}
.list{ width:1117px; height:44px; background:url(../images/list.jpg) no-repeat; margin-top:10px; line-height:44px;}
.list span{font-family:"微软雅黑"; font-size:20px; color:#FFF;}
.list_d{ position:relative; left:50px;}
.list_j{ position:relative; left:220px;}
.list_f{ position:relative; left:445px;}
.topbg{width:100%; background:url(../images/topbg.png) repeat-x;}
.new{}
.more{ text-align:right; padding-right:90px;}
.new ul{ padding:0px; margin:0px; list-style-type:none; padding:10px 0px 0px 0px; width:370px; float:left;}
.new ul li a{ text-decoration:none; color:#000; font-family:"微软雅黑"; font-size:14px; line-height:30px;}
.new ul li a:hover{ color:#00C; text-decoration: underline;}
.new_1{ position:relative; left:30px;}
.new_2{ position:relative; left:33px;}
.footer{ text-align:center; font-family:"微软雅黑"; width:100%; padding-top:50px; height:150px; background:url(../images/footer.jpg) no-repeat;}
.footer a{ color:#000; text-decoration:none; padding:0px 10px;}
.footer a:hover{ color:#1a5afd; text-decoration:underline;}
.nav{ margin-top:23px; font-family:"微软雅黑"; color:#333; font-size:14px; border-left:1px solid #ccc; overflow:hidden; width:245px; position:relative; left:18px;}
.nav ul{ padding:0px; margin:0px; padding-left:10px; list-style-type:none;}
.nav ul li a{ text-decoration:none; color:#000; line-height:30px;}
.nav ul li a:hover{ color:#00C; text-decoration:underline;}
.nav p{ padding:0px; margin:0px; width:230px; float:right; line-height:27px;}
/*幻灯片开始*/
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:20px 0 50px 0;}
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:"微软雅黑",Verdana;}
h3.title{ font-size:16px; font-family:"微软雅黑",Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}
#KinSlideshow{ margin:1px; float:left;}
/*幻灯片结束*/
/*图片滚动*/
.box ul { padding:0; margin:0;}
.box ul li{ list-style:none;}
.box img{ border:none;}
.box1 ul { padding:0; margin:0;}
.box1 ul li{ list-style:none;}
.box1 img{ border:none;}
.box{ width:495px; position:relative; overflow:hidden; _height:100%; float:left; margin:20px 0px 0px 58px;}
.picbox{ width:495px; height:182px; overflow:hidden; position:relative;}
.piclist{ height:182px;position:absolute; left:0px; top:0px}
.piclist li{ background:#eee; margin-right:30px; padding:3px; float:left;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.og_prev,.og_next{ width:30px; height:50px; background:url(../images/icon.png) no-repeat; background:url(../images/icon_ie6.png) no-repeat\9; position:absolute; top:60px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.og_prev{ background-position:0 -60px; left:4px;}
.og_next{ background-position:0 0; right:14px;}
.box1{ width:495px; position:relative; overflow:hidden; _height:100%; float:right; margin:20px 50px 0px 0px;}
.picbox1{ width:495px; height:182px; overflow:hidden; position:relative;}
.piclist1{ height:182px;position:absolute; left:0px; top:0px}
.piclist1 li{ background:#eee; margin-right:30px; padding:3px; float:left;}
.swaplist1{ position:absolute; left:-3000px; top:0px}
.og_prev1,.og_next1{ width:30px; height:50px; background:url(../images/icon.png) no-repeat; background:url(../images/icon_ie6.png) no-repeat\9; position:absolute; top:60px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.og_prev1{ background-position:0 -60px; left:4px;}
.og_next1{ background-position:0 0; right:14px;}

/*图片滚动*/